{% extends 'common/base.html' %}
 
{% block content %}
<h1>My Wish List</h1>


<ul>
    
    {% for book in wish_list_books %}

    <li class="book-info-list">
        <div class="book-list-book-cover">
            <img src="{{ book.book.cover }}" alt="Book Cover">
            
        </div>
        <div class="book-list-book-info">
        <strong>{{ book.book.title }}</strong><br>
        <em>{{ book.book.author }}</em><br>
        
        </div>   
        
    
    </li>

    {% empty %}
    <p>No books added yet.</p>
    {% endfor %}
</ul>
    <a href="{% url 'profile-details' request.user.pk%}" class="btn-return-profile">Return to profile</a>
{% endblock %}