.login-div {
    display: flex;
    justify-content: center; /* Centers the login container horizontally */
    align-items: center; /* Centers the login container vertically */
    width: 100%;
    height: 100vh;
    background-image: url('/static/images/gate.jpg');
    background-size: cover; /* Makes the image cover the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
     /* Full viewport height, adjust as needed */

}

/* Form Container */
.login-container {
    background-color: rgba(153, 180, 198, 0.8); /* Light semi-transparent background for the form */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
    width: 100%;
    max-width: 260px; /* Max width of the form */
    text-align: center; /* Centers the content inside the container */

}

/* Header styling */
.login-container h1 {
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
}

/* Form styling */
.form-login {
    display: flex;
    flex-direction: column; /* Stack form elements vertically */
    gap: 20px; /* Adds space between form fields */
}

/* Input styling */
input {
    width: 100%; /* Makes the input fields take the full width of the form */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Button Styling */
.btn-login {
    padding: 10px;
    background-color: #d38aa4; /* Light pink color */
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover effect for the button */
.btn-login:hover {
    background-color: #6f3d67; /* Darker shade when hovering */
    transform: scale(1.05); /* Slight grow effect */
}

/* Register Link Styling */
.register-link {
    margin-top: 20px;
}

.register-link a {
    color: #007bff; /* Blue color for the link */
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
    .login-container {
        padding: 20px;
        width: 90%; /* Make the form container take more width on smaller screens */
    }

    h1 {
        font-size: 24px; /* Smaller font size for the header on mobile */
    }
}