html {
    font: 18px/1.5 Karla;
}

body {
    min-height: 100vh;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.background {
    background-image: url('/static/images/night.jpg');
    background-size: cover; /* Makes the image cover the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 90vh; /* Full viewport height, adjust as needed */
    width: 100%;

    opacity: 1;
}

.section-header {
    position: relative;
}

.banner-title{
    font-family: Cormorant Infant;
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 1em;
}

.banner-p {
    color: white;
    width: 60ch;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 8em;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 5em;
}

.main-nav ul{
   display: flex;
   gap: 2.5em;
}
.main-nav li,
.main-nav a {
    display: block;
}

.main-nav a{
    color: black;
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: auto;
}

