body {
    min-height: 100vh;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 5em;
}

.main-nav ul{
   display: flex;
   gap: 2.5em;
}
.main-nav li,
.main-nav a {
    display: block;
}

.main-nav a{
    color: black;
    text-decoration: none;
}