{% extends 'common/base.html' %}

{% block content %}
<h1>My Reading Journal</h1>

{% for journal in journals %}
        <ul>
            <li><a href="{% url 'journal-book-details' journal.pk %}">{{ journal.book }}</a></li>
            
        </ul>
        {% empty %}
        <tr>
            <td colspan="4">No books in your journal yet.</td>
        </tr>
        {% endfor %}
    
<h2>Add a Book to Your Journal</h2>
<form method="post">
    {% csrf_token %}
    <label for="book_id">Choose a book:</label>
    <select name="book_id" id="book_id">
        {% for book in user_books %}
        <option value="{{ book.id }}">{{ book.title }}</option>
        {% endfor %}
    </select>
    <button type="submit">Add to Journal</button>
</form>
{% endblock %}