{% extends 'common/base.html' %}


{% block content %}
<div class="container">
    <h1>Books with Journals</h1>
    
    {% if journals %}
    <ul class="book-list">
    
        {% for book in journals %}
        <li>
            {{ book.pk }}
            <h2>{{ book.books_list.book.title }}</h2>
            <p><strong>Author:</strong> {{ book.books_list.book.author}}</p>
            <a href="{% url 'journal-book-details' book.pk %}" class="btn btn-primary">View Journal</a>
            <a href="{% url 'journal-book-delete' book.pk %}" class="btn btn-primary">Delete Book from Journal</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No books with journals found.</p>
    {% endif %}
</div>
    
    <h3>Add a Book to Your Wish List</h3>
    <form method="post" action="{% url 'journal-add' %}">
        {% csrf_token %}


        <button type="submit" class="btn btn-primary mt-3">Add </button>
    </form>
{% endblock %}