{% extends 'common/base.html' %}


{% block content %}
<div class="container">
    <h1>Books with Journals</h1>
    
    {% if journals %}
    <ul class="ul-book-list-info">
    
        {% for book in journals %}
        <li class="book-info-list">
            <div class="book-list-book-cover">
            <img src="{{ book.books_list.book.cover }}" alt="Book Cover">
            
            </div>
            <div class="book-list-book-info">
            <h2>{{ book.books_list.book.title }}</h2>
            <p><strong>Author:</strong> {{ book.books_list.book.author}}</p>
            <a href="{% url 'journal-book-details' book.pk %}" class="btn-edit-book-from-list">Book Details</a>
            <a href="{% url 'journal-book-delete' book.pk %}" class="btn btn-danger">Delete</a>
            </div>    
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No books with journals found.</p>
    {% endif %}
</div>
    
    <h3>Add a Book to Your Reading Journal</h3>
    <form method="post" action="{% url 'journal-add' %}">
        {% csrf_token %}


        <button type="submit" class="button-add-book-to-journal">Add </button>
    </form>
    <a href="{% url 'profile-details' request.user.pk%}" class="btn-return-profile">Return to profile</a>
{% endblock %}