<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasy Book Club</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Karla&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap">
    <link rel="stylesheet" href="/static/css/site.css">
</head>
<body>
    <header class="section-header">
        <div class="header-logo">
            <a href="{% url 'home' %}" class="logo">
               Fantasy Book Club!
            </a>
        </div>
        
            {% include 'common/nav.html' %}
    </header>    
    
    <main>

        {% block content %}
            
        {% endblock %}

    </main>
    
    <div class="footer">
       <span class="footer-section">
          © 2024 Titina
       </span>
    </div>