<nav class="main-nav">
    <ul>
        {% if request.user.is_authenticated %}
            <li>
        <form method="post" action="{% url 'logout' %}" class="form-nav-logout">
            {% csrf_token %}
            <button class="button-logout" type="submit" ><i>Logout</i></button>
        </form>
          </li>
        <li><a href="{% url 'profile-details' request.user.pk %}">Profile</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Log In</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        
        {% endif %}
    </ul>
</nav>