.admin-book-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 8px;


}
.admin-book-cover {
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-book-cover img {
    max-width: 60%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.admin-book-info {
    text-align: center;
    margin-bottom: 40px;
}

.admin-book-info h1 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #2c3e50;
}

.admin-book-info p {
    margin: 5px 0;
    font-size: 16px;
    color: #7f8c8d;
}

.admin-book-comments-section {
    width: 100%;
    margin-top: 30px;
}

.admin-book-comments-section h2 {
    font-size: 22px;
    color: #34495e;
    margin-bottom: 10px;
}

.comment {
    background: #ffffff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.comment p {
    margin: 0;
    color: #2c3e50;
}

.comment-date {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #95a5a6;
}

.admin-book-add-comment {
    width: 100%;
    margin-top: 30px;
}

.admin-book-add-comment h2 {
    font-size: 22px;
    color: #34495e;
    margin-bottom: 10px;
}

.admin-book-add-comment form {
    display: flex;
    flex-direction: column;
}

.admin-book-add-comment button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.admin-book-add-comment button:hover {
    background-color: #2980b9;
}

.back-link {
    margin-top: 20px;
}

.back-link a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.back-link a:hover {
    text-decoration: underline;
}
.comment img {
    width: 50px; /* Размер на снимката */
    height: 50px;
    border-radius: 50%; /* Кръгла форма */
    margin-right: 15px;
    object-fit: cover; /* Поддържа пропорциите на изображението */
    border: 2px solid #ddd;
}